In [7]:
# Re-import necessary library
import pandas as pd

# Reload the dataset
file_path = 'Day_12_banking_data.csv'
banking_data = pd.read_csv(file_path)

# Display the first few rows of the dataset for inspection
banking_data.head()

,Date,Account_Type,Branch,Transaction_Type,Transaction_Amount,Account_Balance
0,2023-01-19,Fixed Deposit,Central,Loan Payment,985.51,6839.59
1,2023-01-16,Current,Uptown,Withdrawal,641.43,8908.39
2,2023-01-10,Current,Uptown,Loan Payment,3363.85,12428.67
3,2023-01-18,Savings,Uptown,Loan Payment,1914.60,5776.63
4,2023-01-14,Recurring Deposit,Suburban,Loan Payment,2788.57,4779.04